.container {
    display: flex;
    flex-direction: column;
    background-color: #305DFF;
    color: white;
    width: 50%;
    margin-left: 25%;
    border-radius: 5px;
}

.review-title {
    margin-left: 30px;
}

.review-content {
    margin: 0 0 10px 30px;
}

.review-content-stars {
    padding: 3px;
    margin: 0 0 10px 30px;
    border-radius: 3px;
    border: none;
}

.review-content-label {
    vertical-align: top;
}

.review-content-comment {
    width: 300px;
    height: 60px;
    padding: 3px;
    margin: 0 0 10px 30px;
    border-radius: 3px;
    border: none;
}

.send-btn {
    margin-top: 30px;
    background-color: #0538FF;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    width: 100%;
}